.search-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.qr-code-container {
  margin: 20px;
}

.infobox {
  img {
    height: 4rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
}
